/*General Styling*/

/*Colours: #202021; */

* {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

html {
    height: 100%;
}

.hidden{
    opacity: 0;
    transform: opacity 1s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
}

.visible{
    opacity: 1; 
    transform: opacity 1s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
}

body {
    min-height: 100%;
    background-color: #202021;
    color: white;
}

#column-wrap {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 95%;
    padding: 15px;
}

.first-column {
    width: 33%;
    height: 95%;
    float: left;
}

.second-column {
    width: 34%;
    height: 95%;
    float: left;
}

.third-column {
    width: 33%;
    height: 95%;
    float: right;
}

#dash-themes{
  display: flex;
}

#dash-themes p{
  padding-left: 10px;
}

/*Setup Styling*/
#setup-wrap{
  position: absolute;
  top: 0; 
  left: 0;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  text-align: center;
}

#display-name{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#name-input, #submit-name{
  padding: 5px;
}

#input-name-wrap{
  padding-bottom: 1rem;
}

#start-button{
  margin-top: 1rem;
  padding: 5px;
}

/*Date Styling*/
#date {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

/*Clock styling*/

#dashboard-clock-widget {
    margin-top: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;
    text-align: center;
    font-size: 2.5rem;
    height: 5rem;
}

#carousel-clock-widget {
    padding-top: 1rem;
    text-align: center;
    font-size: 2.5rem;
    height: 3rem;
}

/*To do list styling*/

#to-do-widget {
    margin-top: 1rem;
}

#to-do-widget h4{
  padding-bottom: 5px;
}

#input-wrap {
    padding-left: 10px;
}

#todos ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
}

#todos li {
    padding-top: 10px;
}

#task {
    color: black;
    background-color: white;
    height: 2rem;
    width: 12rem;
}

#add {
    height: 2.5rem;
    margin-left: 1rem;
}

.remove {
    margin-left: 15px;
    background-color: #de382c;
    display: inline-block;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    padding: 3px 3px;
}

.remove:hover {
    background-color: #ff382e;
    cursor: pointer;
}


/*Image Carousel Styling*/

#carousel-wrap{
    text-align: center; important!
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-img {
    text-align: center;
    height: 75vh;
    width: 100vh;
}

.image-carousel {
    padding-top: 1rem;
    width: 100%;
}


/* Weather styling */

#weathercurrent{
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#weathertomorrow{
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* News styling */

.news{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

#story1{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#story2{
    padding-bottom: 1rem;
}

#story3{
    padding-bottom: 1rem;
}