/*General Styling*/

* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

html {
    height: 100%;
}

.hidden {
    opacity: 0;
    transform: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
}

.visible {
    opacity: 1;
    transform: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
}

body {
    min-height: 100%;
    background-color: #202021;
    color: white;
}

#column-wrap {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 95%;
}

.first-column, .second-column {
    width: 32%;
    height: 95%;
    float: left;
    margin: 5px;
}

@media only screen and (min-width: 64.063em) { 
    .second-column{
        padding-left: 30px;
    }
}
.third-column {
    width: 30%;
    height: 95%;
    float: right;
    margin: 5px;
}

.widget{
    background-color: #4f4f51;
    border-radius: 25px;
}

#widget{
    background-color: #4f4f51;
    border-radius: 25px;
}

@media only screen and (min-width: 64.063em) { 

    .first-column, .second-column {
        width: 30%;
        height: 95%;
        float: left;
        margin: 15px;
    }

    .third-column {
        width: 30%;
        height: 95%;
        float: right;
        margin: 15px;
    }

    .widget{
        padding: 15px;
    }

    #widget{
        padding: 15px;
    }

}
/* Theme chooser*/

#light-theme, #dark-theme, #colored-theme:hover {
    cursor: pointer;
}

#dash-light-theme, #dash-dark-theme, #dash-colored-theme:hover {
    cursor: pointer;
}

@media only screen and (min-width: 64.063em) { 

    #dash-display-name{
        font-size: 1.5rem;
    }

    .settings p{
        margin-top: 10px;
    }

    .settings h4{
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
/*Loading animation*/

#spinner {
    opacity: 0;
    margin: 20px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

#spinner>div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

#spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

#spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/*Setup Styling*/

#setup-wrap {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    text-align: center;
}

#display-name {
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#name-input, #submit-name {
    padding: 10px;
}

#input-name-wrap {
    padding-bottom: 1rem;
}

#start-button {
    margin-top: 1rem;
    padding: 10px;
}

#dash-speed-wrap{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#dash-speed-wrap h2{
    padding-bottom: 1rem;
}

#dash-speed-select{
    padding: 10px;
}

/*Date Styling*/

#date {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

/*Clock styling*/

#dashboard-clock-widget {
    margin-top: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;
    text-align: center;
    font-size: 2.5rem;
}

#carousel-clock-widget {
    z-index: 1;
    position: relative;
    padding-top: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 2.5rem;
    height: 3rem;
    float: right;
    color: black;
}

/*To do list styling*/

#to-do-widget {
    margin-top: 1rem;
}

#to-do-widget h4 {
    padding-bottom: 5px;
}

#input-wrap {
    padding-left: 10px;
}

#todos ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
}

#todos li {
    padding-top: 10px;
}

#task {
    color: black;
    background-color: white;
    height: 2rem;
    width: 12rem;
}

#add {
    height: 2.5rem;
    margin-left: 1rem;
}

.remove {
    margin-left: 15px;
    background-color: #de382c;
    display: inline-block;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    padding: 3px 3px;
}

.remove:hover {
    background-color: #ff382e;
    cursor: pointer;
}

/*Image Carousel Styling*/

#carousel-wrap {
    text-align: center;
    position: absolute important!;
    top: 0;
    left: 0;
}

.carousel-img {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    height: 1080px;
    width: 100%;
    transform: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
}

.image-carousel {
    width: 100%;
    height: 100%;
}

/* Weather styling */

#weathercurrent {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

#weathertomorrow {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

@media only screen and (min-width: 64.063em) { 
    #weathercurrent h3, #weathertomorrow h3{
        font-size: 2rem;
    }

    #weathercurrent li, #weathertomorrow li{
        font-size: 1.75rem;
    }

}
/* News styling */

.news {
    margin-top: 1.5rem;
    max-height: 700px;
}

.news p {
    font-size: 0.75rem;
}

#title1, #title2, #title3 {
    font-weight: bold;
    font-size: 0.85rem;
}

#story1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#story2, #story3 {
    padding-bottom: 1rem;
}

@media only screen and (min-width: 64.063em) { 

    .news h2{
        font-size: 1.25rem;
        padding-bottom: 0.5rem;
    }
    
    .news p {
        font-size: 0.85rem;
    }

    #title1, #title2, #title3 {
        font-weight: bold;
        font-size: 1rem;
    }

    #url1, #url2, #url3{
        padding-top: 7.5px;
    }
}

/*Quote widget*/

#quote-widget{
    margin-top: 1rem;
}

#quote-widget h2{
    padding-bottom: 5px;
}

#quote{
    padding-bottom: 5px;
}

#author{
    font-weight: bold;
}
